{% extends 'master_template.html' %}

{%block content %}
<div class="whyschose">
         <div class="container">

            <div class="row">
               <div class="col-md-7 offset-md-3">
                  <div class="title">
                  <center>  <h2>  HOME <strong class="black"> PAGE</strong></h2></center> 
                     <span><center><!--write your content here--></center></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
 {% endblock %}